/* General padding */
.intro {
  padding-bottom: 25px;
}

.education {
  padding-bottom: 25px;
  clear: both;
}

.experience {
  padding-bottom: 25px;
  clear: both;
}

/* Buttons */
.btn-primary {
  margin-bottom: 5px;
  min-width: 140px;
}

.btn-primary, .btn-primary:visited {
  background-color: #317abd !important;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #3b8fdf !important;
}

/* Navbar */
.navbar-custom {
  background-color: #317abd;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  text-decoration: none; 
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
  text-decoration: none; 
  color: #ffffff;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom  {
  text-decoration: none;  
  color: #ffffff;
}

.nav-item .nav-link:hover {
  color: #000000;
 }

.navbar-custom .dropdown-menu {
  background-color: #317abd;
}

.navbar-custom .dropdown-item {
  text-decoration: none; 
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  text-decoration: none; 
  background-color:#317abd;
}

.navbar-header .navbar-toggler {
  border: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Customizing headings and line decoration */
h2 {
  line-height: 43px; 
}

h2:after {
  content: ' ';
  display: block;
  border: 1px solid #317abd; 
}

h3 {
  font-size: 20px;
}

/* Footer */
footer {
  text-align: center; 
}

footer:before {
  display: block;
  border: 1px solid #c4c8cc;
  content: ' '; 
}

/* Navbar link padding */
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

/* Icon heading */
.icon-small i {
  float: left;
  margin-right: 0px;
  height: 38px;
  width: 38px;
  color: #317abd;
  background-color: #ffffffff;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
  padding-top: 9px;
  font-size: 30px; }

.icon-small + p {
  clear: left;
  margin-top: 15px; 
}

.icon-small h2,
.icon-small h3 {
  text-align: left; 
}

/* Progress bar */
.skillbars {
  margin-left: 10px;
  padding-bottom: 25px;
}

.progress-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 30px; 
}

.progress {
  height: 17px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
  overflow: visible;
  position: relative; 
}

.progress .progress-bar {
  background:#317abd;
  border-radius: 15px;
  box-shadow: none;
  position: relative;
  animation: animate-positive 2s;
}

.progress .progress-icon,
.progress .progress-value {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 40px;
  background: #fff;
  border: 7px solid #317abd;
  font-size: 15px;
  font-weight: 600;
  color: #317abd;
  position: absolute;
  top: -17px;
  right: -5px; 
}

.progress .progress-icon {
  right: auto;
  left: -5px; 
}

/* IE Fixes */
.modal-content * , .card * {
  min-height: .01px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0; 
  } 
}

@keyframes animate-positive {
  0% {
    width: 0; 
  } 
}

@media screen and (max-width: 768px) {
  h1 {
      font-size: 24px;
  }
}